.back{
    background-color: white;
}

.carousel{
    height: atuo;
    min-height: 200;
}

.Word{
    font-family: Noto Sans KR;
    vertical-align: center;
    text-align: center;
}

.NavWord{
    font-family: Noto Sans KR;
    vertical-align: center;
    text-align: center;
    font-size: 18px;
}

/*두번째 메인 페이지*/
.numberingButton{
    margin: 1em;
    background-color: #6977F6;
    border-radius: 50%;
    color: white;
    border:#6977F6;
}

.numbering{
    text-align: center;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    color: black;
}

.SecondMainWord{
    margin:1em;
    text-align: center;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: black;
    
}
.SecondMainWord2{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: black;
}

.container{
    margin: 0 auto;
}

.features_P2SU{
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-evenly;
}

.SecondMainImage1{
    text-align: center;
    top : 1000px;
}

/*footer*/
.footerWord{
    margin:1em;
}
.footerSet{
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
}
.firstWord{
    margin:1em;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: black;
}
.secondWord{
    font-family: Noto Sans KR;
    font-size: 15px;
    font-style: normal;
    color: gray;
    margin:1em;
}
.image{
    margin:5px;
    height:45;
    min-height: auto;
    max-height: 45;
}

/*Edit 페이지*/
.SettingFrame{
    justify-content: center;
    display: flex;
    margin: 100px;
}

/*사용자 설정 페이지*/
.AccountSetting{
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: bold;
    color:black;
}

/*채색 페이지*/
.ColorPageWord{
    margin: 7px;
    font-family: Noto Sans KR;
    font-size: 20px;
    color:black;
}
.input-file-button{
    padding: 6px 15px;
    font-family: Noto Sans KR;
    color: white;
    background-color: #6977F6;
    font-size: 16px;
    cursor: pointer;
    border-radius:  4px;
}
.outFrame{
    margin: 2em;
}
.innerFrame{
    text-align: center;
    vertical-align: center;
}

.ImageWrap {
	margin: 10px auto;
	position: relative;
}

.SaveButton{
    text-decoration: none;
    padding: 6px 15px;
    font-family: Noto Sans KR;
    color: white;
    background-color: #6977F6;
    font-size: 16px;
    cursor: pointer;
    border-radius:  4px;
    margin-bottom: 0.2857rem;
}

.innerWord{
    font-family: Noto Sans KR;
    color: #D8D8D8;
    padding: 5px 10px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}